.font-monserrat-light{
    font-family: 'Monserrat-Light';
}
.font-monserrat-extra-light{
    font-family: 'Monserrat-ExtraLight';
}
.font-monserrat-regular{
    font-family: 'Monserrat-Regular';
}
.font-monserrat-bold{
    font-family: 'Monserrat-Bold';
}
.font-monserrat-thin{
    font-family: 'Monserrat-Thin';
}
.font-sen-regular{
    font-family: 'Sen-Regular';
}
.font-sen-bold{
    font-family: 'Sen-Bold';
}
.font-sen-extra-bold{
    font-family: 'Sen-ExtraBold';
}